<div class="container" style="width: 100%; bottom: 0; position: relative">
    <div class="row" style="background-color: #2F3738; color: #929292;">
        <div class="col-md-3">
            <p class="footer-heading"><a href="#">CONTACT US </a></p>
            <p><span class="glyphicon glyphicon-phone"></span> Call Us: Telephone: <a
                    href="tel:0844135132">0844135132</a></p>
            <p><span class="glyphicon glyphicon-envelope"> </span> E-Mail Us: <a href="email: ">rudolf@sleeksoftware.co.za</a>
            </p>
            <p><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="#">Like Our Facebook Page<a></a>
            </p>
            <p><i class="fa fa-twitter" aria-hidden="true"></i><a href="#">Follow Us On Twitter<a></a></p>
        </div>

        <div class="col-md-3">
            <p class="footer-heading"> COMPANY </p>
            <p><a href="#">MY ABOUT US</a></p>
            <p><a href="#">CUSTOMER SERVICE</a></p>
            <p><a href="#"> PRIVACY POLICY</a></p>
            <p><a href="#">FAQ</a></p>
        </div>

        <div class="col-md-3">
            <p class="footer-heading"> ACCOUNTS </p>
            <p><a href="#">MY ACCOUNT</a></p>
            <p><a href="#">ORDERS AND RETURNS</a></p>
        </div>

        <div class="col-md-3">
            <p class="footer-heading"> QUICK LINKS </p>
            <p><a href="#">SITE MAP</a></p>
            <p><a href="#">SEARCH TERMS</a></p>
        </div>
    </div>
</div>
</body>
</html>