
body {
    background-color: whitesmoke;
    height: 100%;
}

a.btn.btn-primary {
    background-color: #4495D8;
    border-color: #2f3738;
    color: white;
}

.insideText{
    color: whitesmoke;
   text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px 1px black;
}

.insideHeader{
text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px grey;
}

#inside3{
    animation: fadein 1s;
}

#inside1{
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.btn.btn-default.aboutButton.active{
background-color: #4495d8;
}

.world-back {
    background: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    width: 100%;
    height: 100%;
}

.google-map {
    width: 100%;
    height: auto;
}

.container {
    height: auto;
}

.container-fluid {
    background-color: whitesmoke;
}

.navbar {
    background-color: #00b3ee;
}

.aboutHeading {
    background-image: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.aboutBody {
    background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #2f3738;
}

.btn.btn-default.aboutButton {
    background-color: grey;
    color: white;
    box-shadow: 1px 1px 3px grey;
}

.aboutPanel {
    margin: 15px;
}

.nav > li > a:hover {
    background-color: #2F3738;
    color: whitesmoke;
}

.inside {
    width: 100%;
    height: 96%;
}

.line {
    padding-top: 50%;
    width: 3px;
    height: 100%;
    background-color: #7A7A7A;
    transform: rotate(90deg);
    webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);

}

#line1 {

}

.nav > li > a {
    color: #2F3738;
}

.carousel-inner {
    margin-bottom: 0px;

}

#carousel-home {

    margin-bottom: 0px;
}

.home-our-software {
    background-color: #2F3738;
    text-align: center;
    color: whitesmoke;
    font-weight: 500;
    height: auto;
    padding: 1px;
    text-shadow: 4px 4px 8px #000000;
    opacity: 0.7;
}

.home-our-software-border {
    background-color: #2F3738;
    text-align: center;
    color: whitesmoke;
    font-weight: 500;
    height: auto;
    padding: 2px;
    text-shadow: 4px 4px 8px #000000
}

.scroll-body {
    margin-right: 0px;
    background: url("../../assets/images/letterhead2.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
}

.home-center-content {
    width: 100%;
    margin-bottom: 0px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;

    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.Site-Footer {
    color: #929292;
    background-color: #2F3738;
}

.footer-heading {
    padding-top: 10px;
    border-bottom: 1px solid grey;
}

.Copyright {
    text-align: center;
    color: #777777;
}

.newsletter-form {
    padding-left: 448px;
}

.newletter-paragraph {
    padding-left: 15px;
}

.row {

}

.newsletter-form-control {
    width: 200px;

}

.btn-space {
    margin-left: 5px;
    color: #0f0f0f;
}

a:link {
    color: lightgrey;
}

a:visited {
    color: lightgrey;
}

/* mouse over link */
a:hover {
    color: lightgrey;
}

/* selected link */
a:active {
    color: lightgrey;
}
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 300px;
}

.flip-container .flipper {
    transform-origin: 100% 213.5px; /* half of height */
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateX(180deg);
}


.sleekBackground{
    background-image: url("../../assets/images/techbackground.jpg");
    width: 100%;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
}

.sleekSoftwareBackground{
    background-image: url("../../assets/images/techbackground.jpg");
    width: 100%;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
}

.tbsBackground{
    background-image: url("../../assets/images/techbackground.jpg");
    width: 100%;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
}

.sebenzaBackground{
    background-image: url("../../assets/images/techbackground.jpg");
    width: 100%;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
}

.sleekText{

}

#grad {
    height: 150px;
    width: 200px;
    background: radial-gradient(grey,transparent); /* Standard syntax (must be last) */
}

.fileBackground{
    background-image: url("../../assets/images/File-O-Mint.jpg");
    width: 100%;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
}

.cuttleBackground{
    background-image: url("../../assets/images/Cuttle.jpeg");
    width: 100%;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
}
.modal-footer {
    min-height:65px;
}
#image-gallery-link {
    clear:both;
    width:100%;
    text-align:center;
    padding:0px;
    margin:0px;
}
#image-gallery-caption {
    max-width:60%;
    text-align:center;
}