{{include:includes/header}}
<div class="world-back">
    <div class="about-center">

        <div class="software">
            <div class="home-our-software-border" style="">
            </div>
            <div class="home-our-software">
                <h3 style="font-size: 45px; text-align: center">Sleek Software</h3>
            </div>
            <div class="home-our-software-border" style="">
            </div>

            <div class="sleekSoftwareBackground">
                <img src="images/sleek.png"
                     style="width: 500px; padding-top: 200px; padding-bottom: 200px;display: block; margin-right: auto; margin-left: auto;">
            </div>
            <br>
            <div class="sleeksoftwareContent">
                <div class="container" style="width: 100%">
                    <div class="row"
                         style="background-color: #2F3738; border-top: 3px solid #4495d8; border-bottom: 3px solid #4495d8; opacity: 0.9">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p class="insideText">
                                Sleek Software is a dynamic software company located in South Africa. We aim to
                                provide
                                entrepreneurs and small to medium business owners with cost effective and
                                efficient
                                software
                                solutions for their everyday needs.
                            </p>
                            <br>
                            <p class="insideText">
                                The company started in 2006 when the founders, an accounting firm, had the idea
                                of
                                creating
                                their own brand of accounting software as they did not feel that the current
                                solutions on
                                the market at that time were sufficient and aimed at the small and medium
                                business
                                sector.
                            </p>
                            <br>
                            <p class="insideText">
                                Since then the company has evolved launching our second version of the legacy
                                software that
                                got us started. We are also providing software solutions for data storage and
                                other
                                everyday
                                issues you as a business owner might experience in the day to day running of
                                your
                                business.
                            </p>
                            <br>
                            <p class="insideText">
                                We have a passion for the small and medium market sector and we promote green
                                software
                                solutions in everything that we do. We firmly believe that the small and medium
                                business
                                sector has immense potential in the southern parts of Africa and through
                                development
                                and
                                understanding this potential can be unlocked and nurtured into something very
                                special.

                            </p>
                            <br>
                            <p class="insideText">
                                Through focus on development amongst our youth we aim to empower young software
                                developers
                                and develop them into senior software technicians with a broad understanding of
                                the
                                sectors
                                we feature in.

                            </p>
                            <br>
                            <p class="insideText">
                                Efficient, Cost-Effective and Professional. This is what we aim to provide
                                through
                                our
                                software and service to our loyal clients.
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="home-our-software-border" style="">
        </div>
        <div class="home-our-software">
            <h3 style="font-size: 45px; text-align: center">TBS</h3>
        </div>
        <div class="home-our-software-border" style="">
        </div>
        <div class="tbs">
            <div class="tbsBackground">
                <img src="images/TBS_Logo.png"
                     style="width: 500px; padding-top: 200px; padding-bottom: 200px;display: block; margin-right: auto; margin-left: auto;">
            </div>
            <br>
            <div class="tbsContent">
                <div class="container" style="width: 100%">
                    <div class="row"
                         style="background-color: #2F3738; border-top: 3px solid #7a2425 ; border-bottom: 3px solid  #7a2425 ; opacity: 0.9">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p class="insideText">
                                One of our most valued partners sharing our vision. Their creed simply
                                "Partner
                                of the
                                Entrepreneur" encumbers everything that we strive for. From Risk and
                                Structure
                                planning
                                to your basic secretarial functions with the Master of the High Court
                                and
                                CIPC.
                                Be sure
                                to pay them a visit for all your business needs.
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="home-our-software-border" style="">
            </div>
            <div class="home-our-software">
                <h3 style="font-size: 45px; text-align: center">Sebenza</h3>
            </div>
            <div class="home-our-software-border" style="">
            </div>
            <div class="sebenza">
                <div class="sebenzaBackground">
                    <img src="images/sebenza.png"
                         style="width: 500px; padding-top: 200px; padding-bottom: 200px;display: block; margin-right: auto; margin-left: auto;">
                </div>
                <br>
                <div class="sebenzaContent">
                    <div class="container" style="width: 100%">
                        <div class="row"
                             style="background-color: #2F3738; border-top: 3px solid #4495d8; border-bottom: 3px solid #4495d8; opacity: 0.9">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p class="insideText">
                                    Our fouding partners with 30 years experience in the small and medium
                                    business
                                    sectors
                                    providing quality and efficient accounting related services to the
                                    public.
                                    Also
                                    the
                                    brains behind the Sleek Accounting Software and the company responsible
                                    for
                                    most
                                    of the
                                    research and development in a closed environment over the past 10 years.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

        </div>

    </div>

    {{include:includes/footer}}