{{include:includes/header}}
<div class="world-back">
    <div class="home-our-software-border" style="">
    </div>
    <div class="home-our-software">
        <h4s style="font-size: 40px; text-align: center">Contact Us</h4s>
    </div>
    <div class="home-our-software-border" style="">
    </div>
    <br>
    <div class="container" style="width: 100%">
        <div class="row">
            <form action="phpfiles/emailHandle.php" method="post">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="Name">Your First Name:</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Name</span>
                        <input type="text" name="Name" class="form-control" id="Name">
                    </div>
                    <br>
                    <label for="Sname">Your surname:</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Surname</span>
                        <input type="text" class="form-control" id="Sname">
                    </div>
                    <br>
                    <label for="Email">Your email address:</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Email</span>
                        <input type="text" class="form-control" name="Email" id="Email" aria-describedby="basic-addon3">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="Message">Your Message:</label>
                        <textarea name="Message" class="form-control" rows="5" id="Message"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-10"></div>
                        <input type="submit" name="submit" value="Send" class="btn btn-primary pull-right">
                    </div>
                </div>
            </form>
                <div class="col-md-1" style="font-size: 20px;">

                </div>
                <div class="col-md-1" style="font-size: 20px">
                    <span class="glyphicon glyphicon-home" style="color: #4495d8"></span> Address:
                    <p style="color: grey; font-size: 16px">
                        Suite 29
                        Westdene Center
                        1st Avenue
                        Westdene
                        Bloemfontein
                    </p>
                    <br>
                    <p>
                        <span class="glyphicon glyphicon-phone" style="color: #4495d8"></span> Call Us: <a
                            href="tel:0844135132" style="color: slategrey; font-size: 16px">0844135132</a>
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-envelope" style="color: #4495d8"> </span> E-Mail Us: <a href="email: " style="color: slategrey; font-size: 16px">rudolf@sleeksoftware.co.za</a>
                    </p>
                </div>

        </div>
    </div>
    <br>
    <br>
    <div class="home-our-software-border" style="">
    </div>
    <div class="home-our-software">
        <h4 style="font-size: 40px">Location</h4>
    </div>
    <div class="home-our-software-border" style="">
    </div>
    <div class="google-map">
        <iframe style="width: 100%; height: 400px;border: none" src="//www.google.com/maps/embed/v1/place?q=/Westdene+Sentrum,+Reid+St,+Bloemfontein,+9301
      &zoom=16
      &attribution_source=Google+Maps+Embed+API
      &attribution_web_url=https://developers.google.com/maps/documentation/embed/
      &key=AIzaSyC0uNX6gKqglGaXxQD-K8e8qYtrenA7PA4">
        </iframe>
    </div>

</div>
{{include:includes/footer}}