{{include:includes/header}}
<div class="bodies2">
    <div class="main-container">

        <div id="leftOpenMenu" class="pull-left side-size divider">

            <div id="leftMenuArrow" class="arrow pull-right flip-arrow"></div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
                 style="text-align: center">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-home"></span> Sleek Accounting
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <a href="#">My Dashboard</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                               style="text-decoration: none">
                                Entry Types
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <a href="#">CashBook</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Journal</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Debtors
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            <a href="#">Processing</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Quick Invoicing</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Batch Invoices</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Age Analysis</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Bulk Statements</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">List of Debtors</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Sales Reps</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Creditors
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFour">
                        <div class="panel-body">
                            <a href="#">Processing</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">List of Creditors</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Age Analysis</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                General Reports
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFive">
                        <div class="panel-body">
                            <a href="#">Trial Balance</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">General Ledger</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">VAT Report</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">List of Accounts</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Transaction Listing</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Audit Report</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                My Financial Manager
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <a href="#">Test1</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Maintainance
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <a href="#">Import</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Export</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Bank Manager</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Ledger Codes</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Cost Codes</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">Budgets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="rightOpenMenu" class="pull-right side-size divider">
            <div id="rightMenuArrow" class="arrow pull-left"></div>
            <div class="row-container">
                <div class="rightNavrow">
                    <div class="side-content">
                        <h4>Reminders</h4>
                        <p>Reminders go here</p>
                    </div>
                </div>
                <div class=" rightNavrow">
                    <div class="side-content">
                        <h4>Recent Notes</h4>
                        <p>Recent Notes will be inserted into this field</p>
                    </div>
                </div>
                <div class=" rightNavrow">
                    <div class="side-content">
                        <h4>What's New</h4>
                        <p>The latest Info will be inserted here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="siteCenter ">
            <ul class="nav nav-tabs top-bar ">
                <li role="presentation" class="active"><a href="#">My Dashboard</a></li>
                <li role="presentation"><a href="#">Creditors</a></li>
                <li role="presentation"><a href="#">Maintainance</a></li>
            </ul>
            <div class="center-content">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Debtors Age Analysis
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <h3></h3>
                                    <div id="barchart_material" style="width: 100%; height: 50%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Weekly Sales Breakdown
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="donutchart" style="width: 100%; height: 53%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {'packages': ['bar', "corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Debtors Cycle', 'Rand Value'],
            ['Current', 500000],
            ['30 Days', 600000],
            ['60 Days', 350000],
            ['60 Days', 350000]

        ]);

        var options = {
            chart: {
                title: 'AS ON 05/08/2016',
                subtitle: 'Last audit trail posted: 01/08/2016',
            },
            bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, options);
    }
</script>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChart2);
    function drawChart2() {
        var data2 = google.visualization.arrayToDataTable([
            ['Days', 'Sale Amount'],
            ['Monday', 50],
            ['Tuesday', 70],
            ['Wednesday', 40],
            ['Thursday', 20],
            ['Friday', 10]
        ]);

        var options2 = {
            title: 'Daily Sales',
            pieHole: 0.4,
        };

        var chart2 = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart2.draw(data2, options2);
    }
</script>
<div style="clear: both"></div>

</body>
</html>