{{include:includes/header}}
<div class="world-back">
    <div class="home-center-content">
        <div id="carousel-home" class="carousel slide" data-ride="carousel" style="margin-bottom: 0px; ">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-home" data-slide-to="1"></li>
                <li data-target="#carousel-home" data-slide-to="2"></li>
                <li data-target="#carousel-home" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../assets/images/1.jpg" alt="...">
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="../assets/images/2.jpg" alt="...">
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="../assets/images/3.jpg" alt="...">
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="../assets/images/4.jpg" alt="...">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="home-our-software-border" style="">
        </div>
        <div class="home-our-software">
            <h2 style="font-size: 40px;">Our Software</h2>
        </div>
        <div class="home-our-software-border" style="">
        </div>
        <div class="container" style="width: 100%">
            <div class="row" style="background-color:transparent; padding: 60px; height: 100%">
                <div class="col-md-2"></div>
                <div class="col-md-2" style="padding-bottom: 50px">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front"
                                 style="box-shadow: 2px 5px 5px grey;background-color:#2F3738; border: solid; border-color: #93ba4b; border-width: 4px;margin: 5px; height: 340px; border-radius: 6px; ">
                                <img class="img-responsive" src="/assets/images/fileLogoFull.png" alt=""
                                     style="position: absolute; left:23px; padding-top: 50px ;width: 270px">

                            </div>
                            <div class="back">
                                <div class="hovereffect">
                                    <img src="/assets/images/fileLogoFull.png" alt=""
                                         style="position: absolute; top:-60px; left:40px; width: 280px; ">
                                    <div class="overlay">
                                        <h2 style="border-radius: 3px">File-O-Mint</h2>
                                        <a class="info" href="#" style="background-color: grey">click here to visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2" style="padding-bottom: 50px">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front"
                                 style="box-shadow: 2px 5px 5px grey;background-color:#2F3738; border: solid; border-color: #4495d8; border-width: 4px;margin: 5px; height: 340px; border-radius: 6px; ">
                                <img class="img-responsive" src="/assets/images/AccountLogoFull.png" alt=""
                                     style="position: absolute; left:23px; padding-top: 50px ;width: 270px">

                            </div>
                            <div class="back">
                                <div class="hovereffect">
                                    <img src="/assets/images/AccountLogoFull.png" alt=""
                                         style="position: absolute; top:-60px; left:40px; width: 280px; ">
                                    <div class="overlay">
                                        <h2 style="border-radius: 3px">Sleek Accounting</h2>
                                        <a class="info" href="#" style="background-color: grey">click here to visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2" style="padding-bottom: 50px">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front"
                                 style="box-shadow: 2px 5px 5px grey;background-color:#2F3738; border: solid; border-color:  #f20d0d; border-width: 4px;margin: 5px; height: 340px; border-radius: 6px; ">
                                <img class="img-responsive" src="/assets/images/under-construction.png" alt=""
                                     style="position: absolute; left:23px; padding-top: 50px ;width: 270px">

                            </div>
                            <div class="back">
                                <div class="hovereffect">
                                    <img src="/assets/images/under-construction.png" alt=""
                                         style="position: absolute; top:-60px; left:40px; width: 280px; ">
                                    <div class="overlay">
                                        <h2 style="border-radius: 3px">Under Construction</h2>
                                        <a class="info" href="#" style="background-color: grey">click here to visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-our-software-border" style="">
        </div>
        <div class="home-our-software">
            <h2 style="font-size: 40px;">Social Media</h2>
        </div>
        <div class="home-our-software-border" style="">
        </div>

        <div class="home-center-misc-content">
            <div class="container" style="width: 100%; background-color: grey; opacity: 0.9">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/fb2.png" style="width: 250px; padding-top: 62px">
                    </div>
                    <div class="col-md-3 pull-left" style="padding: 5px; padding-top: 62px">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSleekSoftware&tabs=timeline&width=400&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                width="400" height="800" style="box-shadow: 3px 3px 3px black; border-radius: 3px;  border:none;overflow:hidden"
                                scrolling="no"
                                frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <img src="images/twitter2.png" style="width: 250px; padding-top: 62px">
                    </div>
                    <div class="col-md-3" style="padding: 5px; padding-top: 62px; ">
                        <div style="box-shadow: 3px 3px 3px black; padding: 0px; width: 400px; height: 800px; min-width: 180px; max-width: 100%; min-height: 200px;">
                            <a class="twitter-timeline" data-width="400" data-height="800" data-theme="light"
                               href="https://twitter.com/SleekAccounting">Tweets by SleekAccounting</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{include:includes/footer}}s