{{include:includes/header}}

<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.js"></script>

<div class="SoftwareContent" style="">

    <div class="sleekContent" style="">
        <div style="border-top: solid 5px; border-color: #4495d8">
            <div class="sleekBackground">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2" style="min-width:100%">
                            <img src="images/AccountLogo.png" id=""
                                 style="width: 400px; padding-top: 260px; padding-bottom: 160px; display: block; margin-right: auto; margin-left: auto; margin-bottom: 150px">
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sleekText" style="background-color: #2F3738; ">
            <div class="home-our-software-border" style="background-color: #4495d8">
            </div>
            <div class="container" style="width: 100%">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <img src="images/Globe.png" style="width: 300px; padding-top: 20px; ">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4"
                         style="margin: 10px;">
                        <p style="margin: 10px;font-size: 20px; text-shadow: 1px 1px grey; color: #4495d8">
                            Our first and most prized piece of Software went through a 10 year
                            research
                            and
                            development process before beta testing started with the broader
                            public
                            on
                            our
                            second version. This version aptly called V2 will be live during the
                            2017
                            Financial Year and will most likely contain some never before seen
                            features
                            revolutionising the accounting software industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="home-our-software-border" style="background-color: #4495d8">
            </div>
        </div>
        <br>
        <div class="sleekScreens">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Budgets" data-caption=""
                               data-image="images/screenShots/Sleek/ScreenShot1.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot1.png"
                                     alt="Short alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Custom Invoices"
                               data-caption=""
                               data-image="images/screenShots/Sleek/ScreenShot2.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot2.png"
                                     alt="A alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Financial Statements"
                               data-caption=""
                               data-image="images/screenShots/Sleek/ScreenShot3.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot3.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="General Ledgers"
                               data-caption=""
                               data-image="images/screenShots/Sleek/ScreenShot4.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot4.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Budgets" data-caption=""
                               data-image="images/screenShots/Sleek/ScreenShot5.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot5.png"
                                     alt="Short alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Custom Invoices"
                               data-caption=""
                               data-image="images/screenShots/Sleek/ScreenShot6.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot6.png"
                                     alt="A alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/screenShots/Sleek/ScreenShot7.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot7.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/screenShots/Sleek/ScreenShot8.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/screenShots/Sleek/ScreenShot8.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="fileContent" style="width:auto">
        <div style="border-top:solid 5px; border-color: #93ba4b">
            <div class="fileBackground">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2" style="min-width:100%">
                            <img src="images/fileLogo.png"
                                 style="width: 500px; padding-top: 200px; padding-bottom: 200px;display: block; margin-right: auto; margin-left: auto;">
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fileText" style="background-color: #2F3738">
            <div class="home-our-software-border" style="background-color: #93ba4b">
            </div>
            <div class="container" style="width: 100%">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <img src="images/file.png" style="width: 300px; padding-top: 35px;">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4"
                         style="; margin: 10px; ">
                        <p style="margin: 10px; font-size: 20px; text-shadow: 1px 1px grey; color: #93ba4b">
                            This unique database management Software will organise your business and
                            all
                            your documents providing a paperless approach to office automation and
                            storage.
                            Each and every document neatly filed under each unique client,
                            information about
                            a specific client at your fingertips and built-in bulk E-mail
                            functionality with
                            singular file sending through our local servers are but a few of the
                            functionality traits to look forward to.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-our-software-border" style="background-color: #93ba4b">
        </div>

        <br>
        <div class="fileScreens">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="This is my title" data-caption="Some lovely red flowers"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Short alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="The car i dream about"
                               data-caption="If you sponsor me, I can drive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="A alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="This is my title" data-caption="Some lovely red flowers"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Short alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="The car i dream about"
                               data-caption="If you sponsor me, I can drive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="A alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>

    <div class="cuttleContent" style="width: auto">
        <div style="border-top: 5px solid #f20d0d">
            <div class="cuttleBackground">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img src="images/under-construction.png"
                                 style="width: 500px; padding-top: 150px; padding-bottom: 150px ">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cuttleText" style="background-color:#2F3738">
            <div class="home-our-software-border" style="background-color: #f20d0d">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"
                         style="margin: 10px; ">
                        <p style="margin: 10px; font-size: 20px; text-shadow: 1px 1px grey; color: #f20d0d">
                            Development is currently underway and we expect beta testing to a select
                            view
                            clients to commene during 2018. Watch this space.
                        </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="home-our-software-border" style="background-color: #f20d0d">
            </div>
        </div>
        <br>
        <div class="cuttleScreens">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="This is my title" data-caption="Some lovely red flowers"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Short alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="The car i dream about"
                               data-caption="If you sponsor me, I can drive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="A alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="This is my title" data-caption="Some lovely red flowers"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Short alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="The car i dream about"
                               data-caption="If you sponsor me, I can drive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="A alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"
                               data-title="Im so nice"
                               data-caption="And if there is money left, my girlfriend will receive this car"
                               data-image="images/under-construction.png" data-target="#image-gallery">
                                <img class="img-responsive" src="images/under-construction.png"
                                     alt="Another alt text">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 700px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                </div>
                <div class="modal-body" style="height: 500px; background-color: transparent">
                    <img id="image-gallery-image" class="img-responsive" src="">
                </div>
                <div class="modal-footer" style="height: 10px">

                    <div class="col-md-2 pull-left">
                        <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                    </div>

                    <div class="col-md-5 pull-left" id="image-gallery-caption">
                        This text will be overwritten by jQuery
                    </div>

                    <div class="col-md-2 pull-right">
                        <button type="button" id="show-next-image" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {

        loadGallery(true, 'a.thumbnail');

        //This function disables buttons when needed
        function disableButtons(counter_max, counter_current) {
            $('#show-previous-image, #show-next-image').show();
            if (counter_max == counter_current) {
                $('#show-next-image').hide();
            } else if (counter_current == 1) {
                $('#show-previous-image').hide();
            }
        }

        /**
         *
         * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
         * @param setClickAttr  Sets the attribute for the click handler.
         */

        function loadGallery(setIDs, setClickAttr) {
            var current_image,
                    selector,
                    counter = 0;

            $('#show-next-image, #show-previous-image').click(function () {
                if ($(this).attr('id') == 'show-previous-image') {
                    current_image--;
                } else {
                    current_image++;
                }

                selector = $('[data-image-id="' + current_image + '"]');
                updateGallery(selector);
            });

            function updateGallery(selector) {
                var $sel = selector;
                current_image = $sel.data('image-id');
                $('#image-gallery-caption').text($sel.data('caption'));
                $('#image-gallery-title').text($sel.data('title'));
                $('#image-gallery-image').attr('src', $sel.data('image'));
                disableButtons(counter, $sel.data('image-id'));
            }

            if (setIDs == true) {
                $('[data-image-id]').each(function () {
                    counter++;
                    $(this).attr('data-image-id', counter);
                });
            }
            $(setClickAttr).on('click', function () {
                updateGallery($(this));
            });
        }
    });
</script>

{{include:includes/footer}}