{{include:includes/header}}
<div class="container">
    <form method="post" action="/register_company">

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Choose Package</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label><input type="radio" checked name="packageOption" value="Small" > Small to medium business</label>
                        </div>

                        <div class="form-group">
                            <label>&nbsp;</label>
                            <label><input type="checkbox"  name="iAgree" value="agreed" onclick=" if ($(this).is(':checked')) {  $('#companyDetails').show(); $('#chooseTemplate').show();  } else {  $('#companyDetails').hide(); $('#chooseTemplate').hide(); } " >I agree to the <a href="/assets/documents/sleek_user_agreement.pdf" target="_blank">terms and conditions</a></label>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div id="chooseTemplate" class="panel panel-success" style="display:none">
                    <div class="panel-heading">
                        <h4>Choose Template & Upload Logo</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label><input type="radio" checked name="packageOption" value="Small" > Template 1 </label>
                            <label><input type="radio"  name="packageOption" value="Small" > Template 2 </label>
                            <label><input type="radio"  name="packageOption" value="Small" > Template 3 </label>
                        </div>
                        <div class="form-group">
                            <label>Upload Logo</label>
                            <input class="form-control" type="file" name="companyLogo">
                        </div>

                    </div>

                </div>

            </div>


        </div>


        <div id="companyDetails" class="panel panel-info" style="display:none">
            <div class="panel-heading">
                <h4>Company Information</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Company Name</label>
                        <input class="form-control" type="text" placeholder="Company Name" name="companyName" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Registration Number</label>
                        <input class="form-control" type="text" placeholder="Registration Number" name="companyRegNo" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>Company Address</label>
                    <textarea class="form-control" placeholder="Company Address" name="companyAddress"></textarea>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Choose Company Type</label>
                        <select class="form-control">
                            {{Company:getCompanyTypes}}
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>VAT Registered</label>
                        <select class="form-control"
                                onchange=" if (this.value === 'Yes') { $('#companyVATNo').show(); } else { $('#companyVATNo').hide(); } ">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4" id="companyVATNo" style="display:none">
                        <label>VAT Registration Number</label>
                        <input class="form-control" type="text" placeholder="VAT Registration Number"
                               name="companyVATNo">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Bank Account No</label>
                        <input class="form-control" type="text" placeholder="Bank Account Number" name="bankAccountNo" required>
                    </div>

                    <div class="form-group col-md-2">
                        <label>Account Type</label>
                        <select name="bankAccountType" class="form-control">
                            <option value="Cheque">Cheque</option>
                            <option value="Savings">Savings</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label>Branch Name</label>
                        <input class="form-control" type="text" placeholder="Branch Name" name="bankBranchName" required>
                    </div>

                    <div class="form-group col-md-2">
                        <label>Branch Code</label>
                        <input class="form-control" type="text" placeholder="Branch Code" name="bankBranchCode" required>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Account Holder</label>
                        <input class="form-control" type="text" placeholder="Account Holder" name="bankAccountHolder" required>
                    </div>





                </div>


                <div class="form-group">
                    <button class="btn btn-success">Confirm</button>
                    <a class="btn btn-danger" href="/cancel">Cancel</a>
                </div>

            </div>


        </div>
    </form>
</div>
{{include:includes/footer}}