{{include:includes/header}}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Register your account now</h4>
        </div>
        <div class="panel-body">
            <form method="post" action="/register">
                <div class="form-group">
                    <label>Email Address</label>
                    <input class="form-control" type="email" placeholder="Email Address" name="email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>