<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test regular expression</title>
</head>
<body>
Testing Regular expression:
Dynamic: {{User::getName()}}
<br>
Static: {{User:getName()}}
</body>
</html>